
@{
    ViewBag.Title = "AssignMenu";
    Layout = "~/Views/Shared/_LayoutStar.cshtml";
}

@section Styles {

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <style>
        #mainNav, #mainNav.navbar-shrink {
            box-shadow: none;
        }

        #childNav {
            margin-top: 80px;
        }
    </style>
}

<div class="container-fluid">

    <nav class="navbar navbar-expand-lg navbar-dark" id="childNav" style="background-color: #695dd9">
        <a class="navbar-brand" href="@Url.Action("Index", "EducationV2")">拓展專業培養</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Index", "EducationV2")">課程總覽</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="@Url.Action("AssignMenu", "EducationV2")">課程指派</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Record", "EducationV2")">課表查詢</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Digital", "EducationV2")">數位課程</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container mt-5">
        <div class="card-deck w-75 m-auto">
            <div class="card mb-3">
                <a href="~/EducationV2/Assign">
                    <img class="card-img-top" src="~/Content/assets/img/assign.png" alt="Card image cap">
                </a>
                <div class="card-body">
                    <h1 class="card-title text-center">指派課程</h1>
                </div>                
            </div>
            <div class="card mb-3">
                <a href="~/EducationV2/Unassign">
                    <img class="card-img-top" src="~/Content/assets/img/unassign.png" alt="Card image cap">
                </a>
                <div class="card-body">
                    <h1 class="card-title text-center">取消課程</h1>
                </div>                
            </div>

        </div>
    </div>

    
</div>
