
@{
    ViewBag.Title = "拓展專業培養";
}


@section Styles {

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    @*<link rel="stylesheet" href="~/Content/css/angular-moment-picker.min.css">*@
    <style>

        #mainNav, #mainNav.navbar-shrink {
            box-shadow: none;
        }

        #childNav {
            margin-top: 80px;
        }

        iframe {
            width: 80%;
            height: 80vh;
        }
    </style>
}


<div ng-controller="GEducationCtrl" class="container-fluid">

    <nav class="navbar navbar-expand-lg navbar-dark" id="childNav" style="background-color: #5F4C4C">
        <a class="navbar-brand" href="@Url.Action("Index", "GEducation")">拓展專業培養</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="@Url.Action("Index", "GEducation")">課程總覽</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Assign", "GEducation")">課程指派</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Curriculum", "GEducation")">課表查詢</a>
                </li>
                @if (Session["group_leader"] is true)
                {
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Digital", "GEducation")">數位課程</a>
                    </li>
                }

            </ul>
        </div>
    </nav>

    @if (Session["Admin"] is true)
    {
        <div>
            <form id="formElem">
                Files: <input type="file" id="coursefilepicker" name="courseFile">
                <input type="submit">
            </form>
        </div>
    }

    <div class="d-flex justify-content-center">
        <iframe id="inlineFrameExample"
                title="Inline Frame Example"
                @*width="1200"
                height="900"*@
                src="https://gitmind.com/app/docs/mn7ez67t">
        </iframe>
    </div>

    <div class="container-fluid mt-4">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">CoursseTitle</th>
                    <th scope="col">Group</th>
                    <th scope="col">Group One</th>
                    <th scope="col">Id</th>
                    <th scope="col">Title</th>
                    <th scope="col">Scope</th>
                    <th scope="col">Type</th>
                    <th scope="col">Duration</th>
                    <th sscop="col">Created Time</th>
                    <th sscop="col">Code</th>
                </tr>
            </thead>
            <tbody ng-repeat="chapter in chapters">
                <tr>
                    <th scope="row" ng-bind="chapter.course_title"></th>
                    <td ng-bind="chapter.course_group"></td>
                    <td ng-bind="chapter.course_group_one"></td>
                    <th ng-bind="chapter.id"></th>
                    <td ng-bind="chapter.chapter_title"></td>
                    <td ng-bind="chapter.chapter_scope"></td>
                    <td ng-bind="chapter.chapter_type"></td>
                    <td ng-bind="chapter.duration"></td>
                    <td ng-bind="chapter.createdTime"></td>
                    <td ng-bind="chapter.chapter_code"></td>
                </tr>               
            </tbody>
        </table>
    </div>




    @*<div ui-view></div>*@

</div>


@section Scripts {
    <script src="~/Scripts/WebApp/GEducation/GEducationCtrl.js"></script>
}