@model TEEmployee.Models.User
<!DOCTYPE html>
<html ng-app="app">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    @*<title>@ViewBag.Title - My ASP.NET Application</title>*@
    <title>@ViewBag.Title - 軌道二部員工平台</title>
    <base href="@Url.Content("~/")" />
    <link rel="stylesheet" href="~/Content/bootstrap.css">
    @*<link rel="stylesheet" href="~/Content/Site.css">*@
    <script src="~/Scripts/modernizr-2.8.3.js"></script>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="~/Content/assets/favicon.ico" />
    <!-- Bootstrap Icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic" rel="stylesheet" type="text/css" />
    <!-- SimpleLightbox plugin CSS-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/SimpleLightbox/2.1.0/simpleLightbox.min.css" rel="stylesheet" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="~/Content/css/starstyles.css" rel="stylesheet" />
    <link href="~/Content/css/custom.css" rel="stylesheet" />
    <link href="~/Content/css/animations.css" rel="stylesheet" />
    <link href="~/Content/css/all.min.css" rel="stylesheet" />
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/angular-ui-router.min.js"></script>
    <script src="~/Scripts/angular-animate.min.js"></script>
    @*<script src="~/Scripts/angular-route.min.js"></script>*@
    @RenderSection("Styles", required: false)
</head>
<body id="page-top">

    @*<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
            <a class="navbar-brand" href="#">Reflection</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="@Url.Action("Index", "Home")">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("About", "Home")">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Contact", "Home")">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="@Url.Action("Index", "Assessment")">Assessment</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">@User.Identity.Name</a>
                    </li>
                </ul>
            </div>
        </nav>*@
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainNav">
        <div class="container px-4 px-lg-5">
            <a class="navbar-brand homepage" href="#page-top">職涯規劃 溝通與紀錄平台</a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ms-auto my-2 my-lg-0 homepage">

                    @*<li class="nav-item"><a class="nav-link" href="@Url.Action("History", "Home")">更新歷程</a></li>
        <li class="nav-item"><a class="nav-link" href="@Url.Action("Question", "Home")">Q&A</a></li>
        <li class="nav-item"><a class="nav-link" href="@Url.Action("Document", "Home")">說明文件</a></li>*@

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            部門推廣
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="https://pmis07.sinotech.com.tw/Dept24/BaseApp/E-Books/%E8%BB%8C%E4%BA%8C%E9%83%A8/%E9%83%A8%E9%96%80%E6%91%BA%E9%A0%81(%E4%B8%AD%E6%96%87)/%E4%B8%AD%E8%88%88%E5%85%AC%E5%8F%B8%E8%BB%8C%E9%81%93%E4%BA%8C%E9%83%A8%E9%83%A8%E9%96%80%E6%91%BA%E9%A0%81(%E4%B8%AD).html">部門摺頁(中文)</a>
                            <a class="dropdown-item" href="https://pmis07.sinotech.com.tw/Dept24/BaseApp/E-Books/%E8%BB%8C%E4%BA%8C%E9%83%A8/%E9%83%A8%E9%96%80%E6%91%BA%E9%A0%81(%E8%8B%B1%E6%96%87)/%E4%B8%AD%E8%88%88%E5%85%AC%E5%8F%B8%E8%BB%8C%E9%81%93%E4%BA%8C%E9%83%A8%E9%83%A8%E9%96%80%E6%91%BA%E9%A0%81(%E8%8B%B1)-202405.html">部門摺頁(英文)</a>
                            <a class="dropdown-item disabled" href="">永續報告書</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            平台說明
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="@Url.Action("Document", "Home")">操作說明</a>
                            <a class="dropdown-item" href="@Url.Action("Question", "Home")">Q&A</a>
                            <a class="dropdown-item" href="@Url.Action("History", "Home")">平台更新歷程</a>
                        </div>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            功能模組
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="Profession">核心專業盤點</a>
                            <a class="dropdown-item" href="GEducation">拓展專業培養</a>
                            <a class="dropdown-item" href="Training">培訓紀錄與規劃</a>
                            <a class="dropdown-item" href="GSchedule">年度行事曆目標</a>
                            <a class="dropdown-item" href="Promotion">升等規劃與條件</a>
                            <a class="dropdown-item" href="Assessment">自評表與考核</a>
                            <a class="dropdown-item" href="Tasklog">工作紀錄管控表</a>
                            <a class="dropdown-item" href="Talent">人才培育資料庫</a>
                            <a class="dropdown-item" href="Forum">我要抱抱</a>
                        </div>
                    </li>




                    @*<li style="vertical-align: middle" class="nav-item"><a class="nav-link" href="#about">About</a></li>
        <li class="nav-item"><a class="nav-link" href="#services">Services</a></li>
        <li class="nav-item"><a class="nav-link" href="#portfolio">Portfolio</a></li>
        <li class="nav-item"><a class="nav-link" href="#contact">Contact</a></li>*@
                    @if (Session["notify"] is object)
                    {
                        List<bool> notify = (List<bool>)Session["notify"];
                        int trueCount = notify.Where(x => x == true).Count();
                        if (trueCount > 0)
                        {
                            <li class="nav-item dropdown">
                                <a class="fa fa-bell dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> @Session["notify_count"].ToString()</a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                    @if (notify[0] == true)
                                    {
                                        <a class="dropdown-item" href="Assessment/Self">自我評估表</a>
                                    }
                                    @if (notify[1] == true)
                                    {
                                        <a class="dropdown-item" href="Assessment/Manage">給予主管建議表</a>
                                    }
                                    @if (notify[2] == true)
                                    {
                                        <a class="dropdown-item" href="Assessment/Feedback">主管給予員工建議</a>
                                    }
                                    @if (notify[3] == true)
                                    {
                                        <a class="dropdown-item" href="GSchedule#!/Group">未來3年數位轉型規劃</a>
                                    }
                                    @if (notify[4] == true)
                                    {
                                        <a class="dropdown-item" href="GSchedule#!/PersonalPlan">個人規劃簡報尚未上傳</a>
                                    }
                                    @if (notify[5] == true)
                                    {
                                        <a class="dropdown-item" href="GSchedule#!/PersonalPlan">個人規劃簡報回饋</a>
                                    }
                                </div>
                            </li>
                        }
                    }

                    @if (Session["empname"] == null)
                    {
                        Response.Redirect(Url.Action("Index", "Home"));
                    }


                    @*<li class="nav-item"><a class="nav-link" href="#">@User.Identity.Name</a></li>*@
                    <li class="nav-item ml-3">
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                @*@User.Identity.Name*@
                                @Session["empname"].ToString()
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" href="#">@Session["group"].ToString()</a>
                                <a class="dropdown-item" href="#">@Session["group_one"].ToString()</a>
                                <a class="dropdown-item" href="#">@Session["group_two"].ToString()</a>
                                <a class="dropdown-item" href="#">@Session["group_three"].ToString()</a>
                                @if (Session["Admin"] is object)
                                {
                                    using (Html.BeginForm("Index", "Home", FormMethod.Post))
                                    {
                                        @*<div class="form-group">
                                @Html.LabelFor(m => m.Name)
                                @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
                            </div>*@

                                        // form is postback to /Home/Enroll
                                        @*<input type="submit" value="Enroll" class="btn" />*@

                                        @*<form class="px-4 py-3">*@
                                        <div class="form-group px-4 py-3">
                                            <label for="exampleDropdownFormEmail1">員工編號</label>
                                            @Html.TextBoxFor(model => model.empno, new { @class = "form-control" })
                                            <button type="submit" class="btn btn-primary">切換身分</button>
                                        </div>

                                        @*</form>*@
                                    }

                                    @*<form class="px-4 py-3">
                            <div class="form-group">
                                <label for="exampleDropdownFormEmail1">員工編號</label>
                                <input type="email" class="form-control" id="exampleDropdownFormEmail1">
                            </div>
                            <button type="submit" class="btn btn-primary">切換身分</button>
                        </form>*@
                                }
                            </div>
                        </div>
                    </li>
                    @*<li class="nav-item dropdown">
            <div class="dropdown">
                <button class="btn btn-sm btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    @User.Identity.Name
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#">@Session["group"].ToString()</a>
                    <a class="dropdown-item" href="#">@Session["group_one"].ToString()</a>
                    <a class="dropdown-item" href="#">@Session["group_two"].ToString()</a>
                    <a class="dropdown-item" href="#">@Session["group_three"].ToString()</a>
                </div>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Dropdown
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Something else here</a>
            </div>
        </li>*@

                </ul>
            </div>
        </div>
    </nav>


    <div class="newcontainer body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>
    <!-- Bootstrap core JS-->
    @*<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>*@
    <!-- SimpleLightbox plugin JS-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/SimpleLightbox/2.1.0/simpleLightbox.min.js"></script>
    <!-- Core theme JS-->
    <script src="~/Scripts/starscripts.js"></script>
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/old_popper.min.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>